body {
  width: 80%;
  /*text-align: center;*/
}

header {
  background-color: grey;
  border-bottom: solid 2px black;
}

h3 {
  padding-top: 10px;
  padding-left: 20px;
}


.container {
  margin: 0 auto;
}

img {
  height: 200px;
  width: 200px;
  padding-top: 10px;
}